@using Sample.Core.Services
@using Sample.Core.Models
<h3>Basic</h3>

<button class="btn btn-secondary" @onclick="@(() => DataGrid.SortByAsync("Id"))">Sort By Id</button>
<button class="btn btn-secondary" @onclick="@(() => DataGrid.Pager.Page = 5)">Go to page 5</button>
<button class="btn btn-secondary" @onclick="@(() => DataGrid.Pager.PageSize = 25)">Page Size 25</button>

<Dropdown TItem="string" Text="Hành động">
    <ChildContent>
        <DropdownItem Item="@list[0]">.NET</DropdownItem>
        <DropdownItem Item="@list[1]">Python</DropdownItem>        
        <DropdownItem Item="@list[2]">Java</DropdownItem>
    </ChildContent>
</Dropdown>


<DataGrid Data="People" Selectable="true" @bind-SelectedItems="Selected" @ref="DataGrid">
    <DataColumns>
        <DataColumn TItem="Person" Property="p => p.Id" Width="70px">
            <Template Context="item">
                <a href="#" class="d-block" title="@item.FullName">@item.Id</a>
            </Template>
        </DataColumn>
        <DataColumn TItem="Person" Property="p => p.FirstName" SortIndex="1" />
        <DataColumn TItem="Person" Property="p => p.LastName" SortIndex="0" />
        <DataColumn TItem="Person" Property="p => p.Score" Width="100px" Style="@SoreStyle" />
        <DataColumn TItem="Person" Property="p => p.Location" Sortable="false" />
        <DataColumn TItem="Person" Property="p => p.Birthday" Format="d" />

        <DataColumn ClassName="text-end" Title="Actions" TItem="Person" Property="@(x => x.FirstName)">
            <Template Context="item">
                <Dropdown TItem="Person" Text="Hành động">
                    <ChildContent>
                        <DropdownItem Item="@item.FirstName">Xoá</DropdownItem>
                        <DropdownItem Item="@item.FirstName">Xem chi tiết</DropdownItem>
                        <DropdownItem Item="@item.FirstName">Xuất ra</DropdownItem>
                    </ChildContent>
                </Dropdown>

            </Template>
        </DataColumn>

    </DataColumns>
    <DataPagination Context="grid">
        <DataSizer />
        <DataPager PageSize="10" />        
    </DataPagination>
</DataGrid>

<div class="mt-5">
    <h4>Selected</h4>
    <ul>
        @foreach (var person in Selected)
        {
            <li>@person.FullName</li>
        }
    </ul>
</div>

@code {
    public ICollection<Person> People { get; set; }

    public IEnumerable<Person> Selected { get; set; } = new List<Person>();

    private DataGrid<Person> DataGrid { get; set; }

    List<string> list = new List<string> { ".NET", "Python", "Java" };


    protected override void OnInitialized()
    {
        People = Data.GeneratePeople(200).ToList();
    }

    protected void DeleteSelectedItems(List<Person> items)
    {

    }


    protected string SoreStyle(Person person)
    {
        if (person.Score > 75)
            return "background-color: #dc3545";
        if (person.Score > 50)
            return "background-color: #ffc107";

        return null;
    }

}
